*{
    font-family:'Times New Roman', Times, serif;
}

.container{
    background-image: url("../../images/detail.jpg");
    height: 118vh;
    max-width: auto;  
}

.details{
    -webkit-box-shadow: 5px 5px 5px 0px #64d4e7, inset 4px 4px 15px 0px #0139f3, 10px -2px 15px 12px rgba(36, 85, 131, 0.452); 
    box-shadow: 5px 5px 5px 3px #0000001e, inset 4px 4px 15px 0px #38298a13, 10px -2px 15px 12px rgba(24, 29, 95, 0.089);
    background-color: rgba(168, 220, 236, 0.322);
    width: 800px;
    height: 500px;
    justify-content:space-between;
    display:inline-block;
    text-align: center;
    position: relative;
    top:30px;
}
.name{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-top:auto;
    margin-bottom: auto;
    position: relative;
    top: 0px;
    font-size:20px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
}
.sprite{
    display: flex;
    position: relative;
    top: 20px;
    justify-content: center;
    
}

.hp{
    display: flex;
    position:relative;
    bottom: 399px;
    font-size:20px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
}

.id{
    display: flex;
    position:relative;
    bottom: -40px;
    font-size:20px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
}

.attack{
    display: flex;
    position:relative;
    float: right;
    bottom: 493px;
    font-size: 20px;
    padding: 9px 39px;
    text-decoration: none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
    text-align: right;
}

.defense{
    display: flex;
    position:relative;
    bottom: 381px;
    font-size:20px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
}

.speed{
    display: flex;
    position:relative;
    bottom: 365px;
    font-size:20px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
}

.height{
    display: flex;
    position:relative;
    float: right;
    bottom: 569px;
    font-size: 20px;
    left: 0px;
    padding: 9px 39px;
    text-decoration: none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
    text-align: right;
}

.weight{
    display: flex;
    position:relative;
    float: right;
    margin-left: 500px;
    bottom: 553px;
    font-size:20px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
}
.types{
    display: flex;
    position:relative;
    float: right;
    margin-left: 200px;
    bottom: 526px;
    font-size:20px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
}

.btn{
	box-shadow: 2px 2px 2px 5px #4d3ebf28;
	background:linear-gradient(to bottom, #0004083a 5%, #a5b4c285 100%);
	background-color:#3f82e673;
	border-radius:3px;
	border:2px solid #15238250;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
    top: 10px;
	padding:7px 35px;
	text-decoration:none;
	text-shadow:3px 2px 0px #ffffff21;
    position: relative;
   
}
.btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.deleteBtn{
height: 40px;
    width: 100px;
    margin-left: 170px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
    color: white;
    bottom: 70px;
    cursor: pointer;
}

/*
.height{
    display: flex;
    position:relative;
    bottom: 200px;
    font-size:18px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffff;
}
*/