*{
    font-family:'Times New Roman', Times, serif;
}

.searchBar{
    display:inline;
    justify-content: space-around ;
    width: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchBarInput{
    width: 195px;
    height: 22px;
    border: 3px solid #FFE100;
    border-right: none;
    padding: 8px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 15px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchBarInput:focus{
    color: #E50012;
    
  }

.searchBarButton{
    width: 105px;
    border: 3px solid #11396150;
    background-color: #0D131A;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 44px;
    font-size: 18px;
    padding: 7px;
    margin-top: 10px;
}
.searchBarButton:hover {
    background:linear-gradient(to bottom, #1567b8 5%, #1567b8 100%);
    background-color:#378de5;
  }
