*{
    font-family:'Times New Roman', Times, serif;
}
.Link {
    text-decoration: none;
  }
  
  body {
    background: linear-gradient(to right, #f8bbab, #aaf6fe);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .bgHome {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
  }
  #menu {
    background: none;
  }
  .homeButtons{
    /*position: relative;*/
    /*margin-top: -30px;*/
  padding-top: 10px;
    margin-left: 86px;
    float: left;
  /*height: 50px;*/
  display: inline;
    min-width: 150px;
    padding: 9px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #0D131A;
    font-size: 22px;
    margin-top: 10px;
  margin-bottom: 50px;
  color: #ffffff;
  }
  .homeButtons:hover {
    background:linear-gradient(to bottom, #1567b8 5%, #1567b8 100%);
    background-color:#378de5;
  }
  
  .menuContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-right: 2%;
  }
  
  .maxBox {
    display: flex;
    justify-content: space-between;
    /*margin-top: 1%;*/
    
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    font-size: 20px;
  }
 
  .logo {
    width: 250px;
    margin-left: 5%;
  }
  
  .menuContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-right: 2%;
  }
  .orderFilter {
    background: none;
  }
  
  .orderFilter ul {
    list-style: none;
    padding: 2;
    margin-top: -10px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    
  }
  
  .orderFilter ul li {
    display: inline-block;
    padding: 2px 29px;
    margin-right: 0px;
    font-size: 20px;
  
  }

  .title{
    display: none;
  }
  
  .orderFilter ul li select {
    color: #ffffff;
    display: block;
    font-size: 22px;
    border-radius: 8px;
    border: 0 solid rgb(219, 200, 200);
    padding: 3px;
    background-color: #E50012;
    cursor: pointer;
    height: 45px;
    width: auto;
  }

  .lk{
    text-decoration: none;
  }
 
  @media screen and (max-width: 1220px) {
    .maxBox {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-items: center;
    }
  
    .logo {
      margin-left: 0%;
    }
  
    .homeButtons{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-items: center;
    }
    .orderFilter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-items: center;
    }
  
    .gridContainer {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }

  
  @media screen and (max-width: 800px) {
    .gridContainer {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}