*{
    font-family: 'Times New Roman', Times, serif;
}
.cont{
    background-color: #0D131A;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.h1{
    color: #FFFFFF;
    position: absolute;
    font-size: 34px;
    top: 0;
    left: 50%; /* para centrar horizontalmente */
    transform: translateX(-50%); /* para centrar horizontalmente */
}

.form{
    width: 80%;
    height: 80%;
    box-shadow: 15px 5px 15px 5px rgba(255, 225, 0, 0.4);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    background-color: #FFE100;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 100px; /* ajustar según sea necesario */
    left: 50%; /* para centrar horizontalmente */
    transform: translateX(-50%); /* para centrar horizontalmente */
}

.inputCont {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #E50012;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    background-color: rgb(220, 245, 231);
    width: 80%;
    margin: 0.5rem;
    height: 2rem;
    border: none;
    font-size: 20px;
    border-radius: 2rem;
}

.footer {
    position: relative;

    display: flex;
    justify-content: space-evenly;

    height: 4vh;

}

.btn{
    width: 40%;
    font-size: 22px;
    height: 30px;
    background-color: #0D131A;
    border: 1px solid black ;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.deleteType{
    text-transform: uppercase;
    font-size: 1rem;
    height: 5rem;
    align-items: center;
    width: 100%;
    justify-content: space-around;

    display: flex;
}

.type{
    display: flex;
    height: 2rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0D131A;
    width: 40%;
    border: 1px solid black ;
    color: white;
    font-size: 15px;
    border-radius: 1rem;
}

.typ{
    font-size: 25px;
}

.ty{
    font-size: 18px;
}